@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Outfit:wght@100..900&display=swap');

:root{
    --Purple50: hsl(260, 100%, 95%);
    --Purple300: hsl(264, 82%, 80%);
    --Purple500: hsl(263, 55%, 52%);
    --White: hsl(0, 0%, 100%);
    --Grey100: hsl(214, 17%, 92%);
    --Grey200: hsl(0, 0%, 81%);
    --Grey400: hsl(224, 10%, 45%);
    --Grey500: hsl(217, 19%, 35%);
    --Darkblue: hsl(219, 29%, 14%);
    --Black: hsl(0, 0%, 7%);
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--Grey100);
    font-family: "Barlow Semi Condensed", serif;
    font-optical-sizing: auto;
    font-style: normal;
    
    display: flex;
    flex-direction: column;

    min-height: 100vh; 
    justify-content: center;
    align-items: center;
}

section{
    display: grid;
    /* grid-template-columns:repeat(4,auto);
    grid-template-rows:repeat(2, auto); */
    /* width: 1500px; */
    width: 80%;
    margin: 20vh;
    gap: 35px;
    grid-template-areas: 
    "column1 column1 column2 column5"
    "column3 column4 column4 column5";

}

article{
    border-radius: 10px;
    padding: 40px;
    /* margin: 10px; */
    box-shadow: 0 0 100px -40px var(--Darkblue);
}

.avatar{
    display: flex;
    gap: 20px;
    /* height: 50px; */
}

.avatar img{
    border-radius: 50%;;
}

h3{
    font-weight: 500;
}

article h3:nth-child(2) {
    margin: 10px 0;
}

p{
    font-weight: 300;
}

section:nth-child(1)  article:nth-child(1){
    background-color: var(--Purple500);
    background-image: url(./images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: 95% 10%;/* x y */
    color: var(--White);
    /* grid-column:1/2 span; */
    grid-area: column1;


}

section:nth-child(1)  article:nth-child(2){
    background-color: var(--Grey500);
    color: var(--White);
    grid-area: column2;
}

section:nth-child(1)  article:nth-child(3){
    background-color: var(--White);
    grid-area: column3;
}

section:nth-child(1)  article:nth-child(4){
    background-color: var(--Darkblue);
    color: var(--White);
    grid-area: column4;
    /* grid-row:2;
    grid-column:2/2 span; */
}

section:nth-child(1)  article:nth-child(5){
    background-color: var(--White);
    grid-area: column5;
    /* grid-column: 4;  */ /*ocupara la columna 4*/
    /* grid-row: 1/2 span; */ /*toma el espacio desde la 1era hasta la 2da fila*/
}

@media(width < 1500px){
    section{
        width: 90%;
        margin: 10vh;
    }

}

@media(width < 1200px){
    section{
        width: 90%;
        margin: 10vh;
        grid-template-areas: 
        "column1 column1 column2"
        "column3 column4 column4"
        "column5 column5 column5";

    }

}

@media(width < 900px){
    section{
        /* width: 90%; */
        /* margin: 10vh; */
        grid-template-areas: 
        "column1" 
        "column2"
        "column3"
        "column4"
        "column5";

    }

}